@import "@/styles/mixins";

.container {
  min-height: 80vh;
  max-width: 1024px;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cardtext {
  flex: 1 0 0%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  color: var(--text-color);
  text-overflow: ellipsis;
  max-width: 246px;

  & > span {
    color: var(--success-color);
  }
}

.cardcontainer {
  width: 100%;
  text-align: left;
}
