@import "@/styles/mixins";

.container {
  background: var(--darker-color) none repeat scroll 0% 0%;
  @include border-radius(16px);

  @include flex-between-row;
}

.item {
  cursor: pointer;

  line-height: 30px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 18px;

  padding: 10px 40px;
  margin: 5px;

  width: fit-content;
  border-radius: 16px;
  border: 1px solid transparent;

  &:global(.selected) {
    border: 1px solid var(--text-color);
  }
}