@font-face {
  font-family: "Bold";
  src: url('/fonts/FiraSans-Bold.ttf') format("opentype");
}
@font-face {
  font-family: "Demi";
  src: url('/fonts/FiraSans-SemiBold.ttf') format("opentype");
}
@font-face {
  font-family: "Medium";
  src: url('/fonts/FiraSans-Medium.ttf') format("opentype");
}
@font-face {
  font-family: "Regular";
  src: url('/fonts/FiraSans-Regular.ttf') format("opentype");
}

:global(address, caption, cite, code, dfn, em, strong, th, var) {
  font-style: normal;
  font-weight: normal;
}

:global(b) {
  font-weight: bold;
  font-size: 9pt;
}

:global(ol, ul) {
  list-style: none;
}
:global(caption, th) {
  text-align: left;
}

:global(h1, h2, h3, h4, h5, h6) {
  font-size: 100%;
  font-weight: normal;
}

:global(q:before, q:after) {
  content: '';
}

:global(abbr, acronym) {
  border: 0;
  font-variant: normal;
}

:global(sup) {
  vertical-align: text-top;
}

:global(sub) {
  vertical-align: text-bottom;
}

:global(input, textarea, select) {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}
