@import "@/styles/mixins";

.container {
  background: var(--secondary-color) none repeat scroll 0% 0%;
  padding: 36px;
  max-width: 900px;
  width: auto;

  align-items: center;

  @include flex-column;
  @include border-radius(16px);
}

.header {
  @include flex-center-vert;

  & > h2 {
    font-size: 24px;
  }
}

.wrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media (max-width: 836px) {
    justify-content: center;
  }
}

.element {
  margin: 16px;

  @include flex-center-column;

  & > p {
    margin-block-end: 5px;
    font-weight: 300;
  }
  & > button {
    padding: 22px 100px;

    background: var(--primary-color) none repeat scroll 0% 0%;

    &:hover {
      border: 1px solid var(--light-blue-color);
    }
  }
}
