button {
  cursor: pointer;
  color: var(--text-color);
  padding: 10px 22px;

  background: var(--darker-color) none repeat scroll 0% 0%;
  border: 1px solid var(--darker-color);
  user-select: none;
  text-align: center;

  @include border-radius(16px);

  &:hover {
    border: 1px solid var(--muted-color);
  }

  &:focus {
    border: none;
    outline: none;
  }
}

button.loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;

  &::after {
    animation: loading-button 500ms infinite linear;
    border: .2rem solid var(--text-color);
    border-radius: .8rem;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 1.2rem;
    left: 50%;
    margin-left: -.8rem;
    margin-top: -.8rem;
    position: absolute;
    top: 50%;
    width: 1.2rem;
  }
}

@keyframes loading-button {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
