@import "./mixins";

:root {
  --background-color: rgb(31, 34, 46);
  --text-color: rgb(255, 255, 255);

  --info-color: rgb(243, 57, 126);
  --secondary-color:  rgb(33, 40, 55);
  --primary-color: rgb(137, 69, 243);
  --dark-color: rgb(33, 40, 55);
  --muted-color: rgb(119, 119, 163);
  --blue-color: rgb(80, 109, 255);
  --light-blue-color: rgb(162, 114, 255);
  --black-color: rgb(31, 34, 46);
  --darker-color: rgb(45, 54, 71);
  --success-color: rgb(6, 193, 144);
  --danger-color: rgb(232, 49, 62);
  --warning-color: rgb(255, 215, 0);
  --pink-color: rgb(225, 18, 205);
}

// :global(body[theme="dark"]) {
//   --background-color:  #{inspect(map-get($dark , "Background"))};
//   --border-color:  #{inspect(map-get($dark , "Border"))};
//   --notification-color:  #{inspect(map-get($dark , "Notification"))};
//   --card-color:  #{inspect(map-get($dark , "Card"))};
//   --button-color:  #{inspect(map-get($dark , "Button"))};
//   --text-color:  #{inspect(map-get($dark , "Text"))};
//   --modal-color:  #{inspect(map-get($dark , "Modal"))};
  
//   --primary-color:  #{inspect(map-get($dark , "Primary"))};
//   --secondary-color:  #{inspect(map-get($dark , "Secondary"))};
//   --success-color:  #{inspect(map-get($dark , "Success"))};
//   --danger-color: #{inspect(map-get($dark , "Danger"))};
//   --warning-color: #{inspect(map-get($dark , "Warning"))};
//   --muted-color: #{inspect(map-get($dark , "Muted"))};
//   --hover-color: #{inspect(map-get($dark , "Hover"))};
// }